body {
	background-color: #eee;
}
.title-1{ font-size: 5.2rem; }
.title-2{ font-size: 4.6rem; }
.title-3{ font-size: 4rem; }
.title-4{ font-size: 3.5rem; }
.title-5{ font-size: 2.6rem; }
.title-6{ font-size: 2.1rem; }
.title-7{ font-size: 1.6rem; }
.title-8{ font-size: 1rem; }
.title-9{ font-size: .7rem; }

.bgnav{	background-color: #0072C6;}

.sidebar{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	padding: 0;
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky{
	position: -webkit-sticky;
	position: sticky;
	top: 78px;
	height: calc(100vh - 78px);
	padding-top: .5rem;
	overflow-x: hidden;
	overflow-y: auto;
}

.colorLetraMenu{
	color: #333;
}

.colorLetraMenu:hover,
.colorLetraMenu:hover > .colIconMenu {
	color: #333;
}

.colIconMenu{
	color: #999;
	width: 16px;
	height: 16px;
}