body {
	background-color: #eee;
}
.title-1{ font-size: 5.2rem; }
.title-2{ font-size: 4.6rem; }
.title-3{ font-size: 4rem; }
.title-4{ font-size: 3.5rem; }
.title-5{ font-size: 2.6rem; }
.title-6{ font-size: 2.1rem; }
.title-7{ font-size: 1.6rem; }
.title-8{ font-size: 1rem; }
.title-9{ font-size: .7rem; }

.bgnav{	background-color: #0072C6;}